<!-- Toolbar -->
<mat-toolbar color="primary">
  <span>Asset Calculator (Buy To Let)</span>
  <span class="example-spacer"></span>

  <div class="top-navbar-menu">
<!--    <button mat-button>-->
<!--      <mat-icon class="example-icon" aria-hidden="false">input</mat-icon>-->
<!--      <span> Simple Calculator</span>-->
<!--    </button>-->

<!--    <button mat-button>-->
<!--      <mat-icon class="example-icon" aria-hidden="false">home</mat-icon>-->
<!--      <span> Buy To Let</span>-->
<!--    </button>-->

<!--    <button mat-button>-->
<!--      <mat-icon class="example-icon" aria-hidden="false">house</mat-icon>-->
<!--      <span> Buy To Let HMOs</span>-->
<!--    </button>-->

<!--    <button mat-button>-->
<!--      <mat-icon class="example-icon" aria-hidden="false">hotel</mat-icon>-->
<!--      <span> Service Accommodations</span>-->
<!--    </button>-->

<!--    <button mat-button>-->
<!--      <mat-icon class="example-icon" aria-hidden="false">business</mat-icon>-->
<!--      <span> Buy Refurb Refinance</span>-->
<!--    </button>-->
  </div>

  <span class="example-spacer"></span>

</mat-toolbar>

<div class="content" role="main">
  <div fxLayout="row" fxLayoutAlign="space-around" *ngIf="false">
    <mat-card >
      <mat-card-header>
        <div mat-card-avatar ></div>
        <mat-card-title>Simple Yield Calculator</mat-card-title>
        <!--      <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
      </mat-card-header>
      <!--    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LET'S GO</button>
      </mat-card-actions>
    </mat-card>

    <mat-card >
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Buy To Let Calculator</mat-card-title>
        <!--      <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
      </mat-card-header>
      <!--    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LET'S GO</button>
        <!--      <button mat-button>SHARE</button>-->
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar ></div>
        <mat-card-title>Buy Refurbish Refinance Calculator</mat-card-title>
        <!--      <mat-card-subtitle>Calculator</mat-card-subtitle>-->
      </mat-card-header>
      <!--    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LET'S GO</button>
      </mat-card-actions>
    </mat-card>
  </div>


  <div fxLayout="row" fxLayoutAlign="space-around" class="calculator-container">
    <div class="calculator-column">
      <form [formGroup]="calculatorForm" class="calculator-form" (ngSubmit)="submit()">
        <div>
          <mat-form-field >
            <mat-label>Purchase Price</mat-label>
            <label>
              <input matInput [formControl]="purchasePrice" placeholder="£">
            </label>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field >
            <mat-label>Monthly Rent</mat-label>
            <label>
              <input type="text" matInput [formControl]="monthlyRent" placeholder="£">
            </label>
          </mat-form-field>
        </div>
        <!--        <h3>Finances</h3>-->
        <div style="margin-bottom: 1em">
          <mat-radio-group [formControl]="mortgage" style="width: 50%" fxLayout="row" fxLayoutAlign="space-between">
            <mat-radio-button value="yes" selected>Mortgage</mat-radio-button>
            <mat-radio-button value="no">Cash</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="mortgage.value === 'yes'">
          <mat-form-field >
            <mat-label>Mortgage Rate</mat-label>
            <label>
              <input type="text" matInput [formControl]="mortgageRate" placeholder="%">
            </label>
          </mat-form-field>
        </div>
        <div *ngIf="mortgage.value === 'yes'" style="margin-bottom: 1em">
          <mat-form-field>
            <mat-label>Deposit</mat-label>
            <label>
              <input type="text" matInput [formControl]="deposit" placeholder="£">
            </label>
          </mat-form-field>
<!--          <button type="button" mat-stroked-button color="accent" (click)="ltv(0.25)">LTV 75</button>-->
<!--          <button type="button" mat-stroked-button color="accent" (click)="ltv(0.6)">LTV 60</button>-->
        </div>

        <!--        <h3>Costs</h3>-->
        <div>
          <mat-form-field >
            <mat-label>Legal Fees</mat-label>
            <input type="text" matInput [formControl]="legalFees" placeholder="£">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field >
            <mat-label>Refurb Costs</mat-label>
            <input type="text" matInput [formControl]="refurbCosts" placeholder="£">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field >
            <mat-label>Monthly Management Fees</mat-label>
            <input type="text" matInput [formControl]="monthlyAgentFees" placeholder="£">
          </mat-form-field>
          <div>
<!--            <button type="button" mat-stroked-button color="accent" (click)="management(0.08)">8%</button>-->
<!--            <button type="button" mat-stroked-button color="accent" (click)="management(0.1)">10%</button>-->
<!--            <button type="button" mat-stroked-button color="accent" (click)="management(0.12)">12%</button>-->
          </div>
        </div>

        <div>
          <mat-form-field >
            <mat-label>Monthly Maintenance Fees</mat-label>
            <label>
              <input type="text" matInput [formControl]="monthlyMaintenanceFees" placeholder="£">
            </label>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field >
            <mat-label>Yearly Insurance</mat-label>
            <label>
              <input type="text" matInput [formControl]="yearlyInsurance" placeholder="£">
            </label>
          </mat-form-field>
        </div>

        <div>
          <button [disabled]="calculatorForm.invalid" type="submit" mat-raised-button color="primary">Calculate</button>
        </div>
      </form>

    </div>


    <div class="result-column" *ngIf="result">
      <div fxLayout="column" fxLayoutAlign="space-between space-between" style="min-height: 22em">
        <div fxLayout="column" fxLayoutAlign="space-around space-around" style="min-height: 8em; font-weight: bold" >
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div>Total cost</div>
            <div>{{result.totalCosts | currency}}</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div>Monthly Cash Flow</div>
            <div>{{result.monthlyCashFlow | currency}}</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div>Return on Investment</div>
            <div>{{result.returnOnInvestment | percent: '1.2'}}</div>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around space-around" style="min-height: 10em">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div>Stamp Duty</div>
            <div>{{result.stampDuty | currency}}</div>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <div>Rental Yield</div>
            <div>{{result.rentalYield | percent: '1.2'}}</div>
          </div>

          <div *ngIf="result.monthlyMortgagePayment" fxLayout="row" fxLayoutAlign="space-between">
            <div>Monthly Mortgage payment</div>
            <div>{{result.monthlyMortgagePayment | currency}}</div>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <div>Monthly Expenses</div>
            <div>{{result.monthlyExpenses | currency}}</div>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <div>Yearly Profit</div>
            <div>{{result.yearlyProfit | currency}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
