h3 {
  font-size: 30px;
}

.example-spacer {
  flex: 1 1 auto;
}

.top-navbar-menu{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.content{
  margin: 30px;
}

.example-card{
  max-width: 25%;
}

.calculator-container {
  font-size: 18px;
  margin-top: 50px;
  width: 80%;
}

.calculator-column {
  width: 33%;
}

.result-column {
  width: 25%;
}

.explanation-column {
  width: 33%;
}

.mat-form-field{
  width:100%;
}
